form {
    margin-left: 400px;
    padding: 50px;
    background-color: rgb(138, 161, 161);
    margin-right:800px;
    border-style: solid;
    border-width: medium;
    width:510px;
  }
  
  
  input{
    margin-left: 20px;
    padding: 6px;
    background-color: white;
    
    border-style: solid;
    align-items: center;
    
  }
  